%body
  %header.header
    .logo-box
      =image_tag('logo-ninja-2.png', alt: "logo-ninja-advisors", class: "logo")
    .text-box
      %h1.heading-primary
        %span.heading-primary-main='Ninja Advisers'
        %span.heading-primary-sub='Your tech advisors community'
      %a.btn.btn-white{href: "#", title: "Ver los advisers"}="Busco un adviser"        
